@charset "utf-8";
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font:14px/1.5tahoma, arial, \5b8b\4f53;font-family: "Microsoft Yahei";}
h1, h2, h3, h4, h5, h6{font-family: "Microsoft Yahei"; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol, li { list-style:none; }
a { text-decoration:none; }
a:hover {  }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%;}
input[type="text"]{outline: none;}
input[type="button"]{cursor: pointer;border: none;outline: none;}
table { border-collapse:collapse; border-spacing:0; }

.ct{margin: 0 auto;}
.fl{float: left;}
.fr{float: right;}
.cf:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.cf{*zoom:1;}
.cl{clear:both;height:0;overflow:hidden;}
.db{display: block;}
.dn{display: none;}
/*<a href="__CLICK__"></a>*/
/********************************初始化*************************************/
/********************************导航*************************************/
.nav-wrap{background-color:#fff;width: 100%;z-index:4;}
.nav{width: 1260px;height: 100px;margin: 0 auto;}
.nav a{display: block;height: 100px;line-height: 100px;padding: 0 25px;float: left;font-size:20px;color: #888;position: relative;}
.nav a.logo{width:300px;height: 100px;float: left;background: url(../images/logo.png);padding: 0;}
.nav a i{    position: absolute;
    width: 0;
    height: 5px;
    background: #cf0f32;
    display: block;
    left: 0;
    bottom: 0;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;}
.nav a:hover{color: #111;}
.nav a:hover i{width: 100%;}
.nav span {float: left;height: 100px;line-height: 100px;width: 4px;}

.foot-ts{margin-top: 70px;text-align: center;}
.kf-ewm{width: 200px;height: 165px;margin-top: 25px;text-align: center;}
.kf-ewm img{width: 140px;height: 140px;}


/*
    CSS Stylesheet for IE Alert! plugin.
*/


/*

    Overlay Background

*/

#ie-alert-overlay {
width:100%;
height:100%;
background-image:url(../images/bg.png);
position: fixed; 
top: 0; 
left: 0;
z-index:9999;

}

* html #ie-alert-overlay {   /* fixed position hack for IE6 */
    position: absolute;
    z-index:9999;
    
}

/*

    Pop Up Panel

*/

#ie-alert-panel {
    width:520px;
    height:331px;
    position:fixed;
    background: url(../images/iealertsprite.png) no-repeat;
    background-position: -1px -109px ;
    top:50%;
    left:50%;
    margin:-201px 0 0 -296px;
    padding:72px 0 0 72px;
    _position:absolute;  /* fixed position hack for IE6 */
    _top:expression(300+((e=document.documentElement.scrollTop)?e:document.body.scrollTop)+'px');  /* top:300px hack for IE6 */
    
    /* font settings */
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight:bold;
    color:#333;
    line-height:1.5em;
    z-index:10000;
}

#ie-alert-panel p {
    font-size:14px;
    width:486px;
    text-align:justify;
}

#ie-alert-panel img {
    border:0;
}


#ie-alert-panel span {
    font-size:18px;
    margin: 0 0 20px 0;
    display:block;
    padding:0;
}

#ie-alert-panel ul {
    list-style: none;
    margin:0;
    padding:0;  
}

#ie-alert-panel li {
    float:left;
    margin:0 22px 0 0;
        
}

#ie-alert-panel li.last {
    margin-right:0;
}


#ie-alert-panel a {
    display:inline-block;
        
}

.browser {
    position: absolute;
    bottom:35px;    
}

.chrome, .firefox, .ie9, .opera, .safari {
    background: url(../images/iealertsprite.png) no-repeat;
}

/*

    browsers

*/


.chrome {
    background-position: 0 0;
    width: 73px;
    height: 96px;
    margin:0 4px 0 0;
}

.firefox {
    background-position: -292px 0;
    width: 73px;
    height: 98px;
}

.ie9 {
    background-position: -179px 0;
    width: 95px;
    height: 98px;
}

.opera {
    background-position: -90px 0;
    width: 73px;
    height: 98px;
}

.safari {
    background-position: -387px 0;
    width: 73px;
    height: 98px;
    margin:0 4px 0 0;
}

.top-line-wrap{height: 32px;background-color: #fff;}
.top-line-wrap em{display: inline-block;float: left;color: #ccc;margin: 0 12px;font-size: 10px;line-height: 32px;}
.top-line{width: 1230px;height: 32px;}
.top-line p{float:right;height: 32px;line-height: 32px;font-size: 12px;color:#757575;}
.topa{display: block;height: 32px;line-height: 32px;float: left;padding-left:20px;color:#757575;font-size:12px;}
.id-top-wrap{margin-right: 35px;}
.topa:hover{color: #0078ff;text-decoration: underline;}
.topa1{padding-left: 0;}
.topa2{background: url(../images/head_2.png) left center no-repeat;}
.topa3{background: url(../images/head_3.png) left center no-repeat;}
.topa4{background: url(../images/head_4.png) left center no-repeat;}
.topa4 span{color: #ee1b22;}
.topa5{background: url(../images/head_5.png) left center no-repeat;}
.topa6{padding-left: 0;}
.topa7{background: url(../images/head_7.png) left center no-repeat;}
.sousuo{width: 200px;height: 32px;float: left;}
.sstext{width: 126px;height: 20px;line-height: 20px;float: left;display: block;margin-top: 4px;border:solid 1px #e7e7e7;font-size: 12px;border-right: none;padding-left:4px;
    color: #757575;
}
.ssbtn{width: 30px;height: 22px;border:solid 1px #e7e7e7;margin-top: 4px;background: url(../images/fdj.png) center center no-repeat;cursor: pointer;}
.zhuxiao{color: #ee1b22;}
.mask{width: 100%;height: 100%;z-index: 1000;background: url(../images/hei.png);position:fixed;left: 0;top: 0;display: none;}
.mask-show{width: 200px;position:fixed;z-index: 1001;left:50%;top:50%;text-align: center;background-color: #fff;margin-left: -100px;}
.mask-show p{padding: 15px;}
.mask-show .btn{width: 100%;height: 36px;display: block;background-color: #ee1b22;color: #fff;line-height: 36px;}
.foot p{width: 1260px;text-align: center;margin-bottom:35px;font-size: 12px;margin-top: 15px;} 
.ewmi {width: 140px;height: 200px;background-color: #fff;position: fixed;left: -200px;top: 50%;margin-top: -100px;z-index: 1015;transition: all .5s  linear;}
.ewmi img{width: 140px;}
.ewmi p{font-size: 14px;line-height: 1.5;text-align: center;}
.sqq{position: relative;}
.eb{overflow: hidden;}
img.sq1{position: absolute;left: 140px;top:0;width:31px;height: 202px; cursor: pointer;}
img.sq2{position: absolute;left: 140px;top:0;width:31px;height: 202px;position: fixed;left: 0;top: 50%;margin-top: -100px;display: none;cursor: pointer;}
a.c7{color:#777;}
a.c9{color: #999;}
a.c3{color: #333;}