*{
    padding: 0;
    margin: 0;
}
.top_box{
    width:80%;
    height:100px;
    margin: 0 auto;
    padding-top: 40px;
}
.top_search{
    width: 380px;

}
.input_txt_main{
    width: 220px;
    height: 36px;
    border-radius: 5px;
    float: left;
    font-size: 16px;
    padding-left: 10px;
}
.serach_btn{
    width:120px;
    height:40px;

}
.serach_btn{
    color: #fff;
    background-color: #409eff;
    border-color: #409eff;
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid #dcdfe6;
    border-color: #dcdfe6;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    transition: .1s;
    font-weight: 500;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
    float: left;
    margin-left:10px;
}
.parten_in,.lince_in,.can_lince,.dontneed_lince{
    color: #fff;
    background-color: #409eff;
    border-color: #409eff;
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid #dcdfe6;
    border-color: #dcdfe6;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    transition: .1s;
    font-weight: 500;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;

    margin-left:10px;
    float: right;
}
.parten_in_main,.lince_in_main,.can_lince_main{
    width: 600px;
    height: 320px;
    padding-top: 20px;
    border: #ccc solid 1px;
    margin: 0 auto;
    border-radius: 5px;
    position: fixed;
    display: none;
    top: 100px;
    z-index: 999;
    left: -webkit-calc(50% - 300px);
    left: calc(50% - 300px);
    background-color: #fff;
}
.parten_all{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
}
.ib_name{
    display: inline-block;
    width:100px;
    height:40px;
    text-align: center;
    line-height: 40px;
    float: left;
    padding-left: 100px;
}
.province_all_select,.city_all_select,.province_all_select2,.city_all_select2{
    width: 150px;
    height: 30px;
}
.parten_in_sure,.lince_in_sure{
    color: #fff;
    background-color: #409eff;
    border-color: #409eff;
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid #dcdfe6;
    border-color: #dcdfe6;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    transition: .1s;
    font-weight: 500;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
    margin: 0 auto;
}
.ul_input{
    width:60%;
    margin: 0 auto;
}
.ul_input .li_input{
    list-style: none;
}
.close_parten,.close_lince{
    width:30px;
    height:30px;
    line-height: 30px;
    text-align: center;
    font-size: 20px;
    position: absolute;
    top:0;
    right: 0;
    cursor: pointer;
}
.bank_li{
    padding-left: 132px;
    padding-bottom: 10px;
}
.info_box{
    width:90%;
    height:auto;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}
.left_list_box{
    width:45%;
    float: left;
    text-align: center;
}
.right_list_box{
    width:50%;
    float: left;
    margin-left: 5%;
    text-align: center;
}
.list_input{
    list-style: none;
    height: 30px;
    line-height: 30px;
}
.left_list_box p{
    width: 100%;
}
.right_list_box p span:nth-of-type(1){
    width: 15%;
    display: inline-block;
    overflow: hidden;
}
.right_list_box p span:nth-of-type(2){
    width: 15%;
    display: inline-block;
    overflow: hidden;
}
.right_list_box p span:nth-of-type(3){
    width: 50%;
    display: inline-block;
    overflow: hidden;
}
.right_list_box p span:nth-of-type(4){
    width: 15%;
    display: inline-block;
    overflow: hidden;
}
.left_list_box p span:nth-of-type(1){
    width: 10%;
    display: inline-block;
    overflow: hidden;
}
.left_list_box p span:nth-of-type(2){
    width: 10%;
    display: inline-block;
    overflow: hidden;
}
.left_list_box p span:nth-of-type(3){
    width: 15%;
    display: inline-block;
    overflow: hidden;
}
.left_list_box p span:nth-of-type(4){
    width: 48%;
    display: inline-block;
    overflow: hidden;
}
.left_list_box p span:nth-of-type(5){
    width: 10%;
    display: inline-block;
    overflow: hidden;
}
.list_input span:nth-of-type(1){
    width: 15%;
    display: inline-block;
    overflow: hidden;
}
.list_input span:nth-of-type(2){
    width: 15%;
    display: inline-block;
    overflow: hidden;
    height: 30px;
}
.list_input span:nth-of-type(3){
    width: 50%;
    display: inline-block;
    overflow: hidden;
}
.list_input span:nth-of-type(4){
    width: 15%;
    display: inline-block;
    overflow: hidden;
}
.list_input span:nth-of-type(4){
    color: red;
}
.list_input2 span:nth-of-type(1){
    width: 10%;
    display: inline-block;
    overflow: hidden;
}
.list_input2 span:nth-of-type(2){
    width: 10%;
    display: inline-block;
    overflow: hidden;
    height:22px;
}
.list_input2 span:nth-of-type(3){
    width: 15%;
    display: inline-block;
    overflow: hidden;
}
.list_input2 span:nth-of-type(4){
    width: 55%;
    display: inline-block;
    overflow: hidden;
}
.list_input2 span:nth-of-type(5){
    width: 10%;
    display: inline-block;
    overflow: hidden;
}
.list_input2 span:nth-of-type(5){
    color: red;
}
.delete_list,.delete_list2{
    cursor: pointer;
}