*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #0e0240;
}
.yc_page{

}
.txt_box{
    position: absolute;
    width:275px;
    height:100%;
    right:10px;
    top:10px;
    overflow: scroll;
    z-index:999;
    border-top: #3470b6 solid 1px;
}
.txt_box li{
    list-style: none;
    height:25px;
    line-height: 25px;

    border-bottom: #3470b6 solid 1px;
}
.txt_box .p_title{
    text-align: center;
    height:30px;
    line-height: 30px;
    font-size: 18px;
    border-bottom: #ccc solid 1px;
}
.all_title{
    width:100%;
    height:50px;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
}
.thename{
    min-height: 962px;
    position: relative;
}
.ul_title{
    width:100%;
    height: 40px !important;
    border-bottom: #3470b6 solid 1px;
    padding-top: 10px;
}
.ul_title span{
    float: left;
    font-size: 13px;
    line-height: 15px;
    padding-right: 5px;
    text-align: center;

}
.ul_title .li_area{
    display: inline-block;
    width:40px;
    height: 40px;
    line-height: 40px;
    color: #09aafb;
    text-align: left;
}
.ul_title .li_beian{
    display: inline-block;
    width:40px;
    height: 40px;
    line-height: 40px;
    color: #11ef20;
}
.ul_title .li_parent{
    display: inline-block;
    width:40px;
    height: 40px;
    line-height: 40px;
    color: #dd2000;
}
.ul_title .li_cz{
    display: inline-block;
    width:40px;
    height: 40px;
    line-height: 40px;
    color: #09aafb;
}
.ul_title .heb_gx{
    display: inline-block;
    width:50px;
    height: 40px;
    color: #09aafb;
}
.ul_title .tzlq{
    display: inline-block;
    width: 30px;
    height: 40px;
    color: #09aafb;

}
.outer_box span{
    float: left;
    font-size: 13px;
    line-height: 15px;
    padding-right: 5px;
    text-align: center;
}
.outer_box .outer_area{
    display: inline-block;
    width:40px;
    color: #09aafb;
    height: 25px;
    line-height: 25px;
    text-align: left;
    overflow: hidden;
}
.outer_box .outer_beian{
    display: inline-block;
    width:40px;
    color: #11ef20;
    height: 25px;
    line-height: 25px;
}
.outer_box .outer_parent{
    display: inline-block;
    width:40px;
    color: #dd2000;
    height: 25px;
    line-height: 25px;
}
.outer_box .outer_cz{
    display: inline-block;
    width:40px;
    color: #fff;
    height: 25px;
    line-height: 25px;
}
.outer_box .outer_gx{
    display: inline-block;
    width:50px;
    color: #fff;
    height: 25px;
    line-height: 25px;
}
.outer_box .outer_tzlq{
    display: inline-block;
    width: 30px;
    color: #fff;
    height: 25px;
    line-height: 25px;
}
.outer_box .kong{
    height:10px;
}
.logo_box{
    width:100%;
    height:auto;
    overflow: hidden;
}
.logo_box .top_bg_box{
    width: 80%;
    margin: 0 auto;
}
.logo_box .top_bg_box img{
    width:100%;
    display: block;
}
.top_txt_box{
    width: 580px;
    height: 100px;
    margin: 0 auto;
    margin-top: -80px;
}
.top_time{
    width:150px;
    height: 79.5px;
    float: left;
    background: url("./image/time.png");
    background-size: 150px 79.5px;
}
.top_time .top_time_box{
    height:30px;
}
.top_time_box span{
    width: 50px;
    height: 27px;
    float: left;
    text-align: center;
    font-size: 24px;
    line-height: 27px;
}
.top_time .top_year_box{
    font-size: 16px;
    text-align: right;
    color: #dedada;

}
.top_parent{
    width: 208px;
    height: 79.5px;
    float: left;
    border-right: #f9eead solid 2px;
    padding-left: 15px;
}
.top_beian{
    width:176px;
    height:79.5px;
    float: left;
    border-right: #f9eead solid 2px;
    padding-left: 20px;
}
.top_parten_logo{

    height:79.5px;
    width:107.9px;
    float: left;
    background: url("./image/parten.png") ;
    background-size: 107.9px 79.5px;
}
.top_licensing_logo{
    height:79.5px;
    width:71.1px;
    float: left;
    background: url("./image/lice.png") ;
    background-size: 71.1px 79.5px;
}
.top_parten_txt{
        color: #f9eead;
    height: 79.5px;
    width: 88px;
    float: left;
    text-align: right;
    line-height: 79.5px;
    font-size: 60px;
}
.top_licensing_txt{
    color: #f9eead;
    height:79.5px;
    width:103px;
    float: left;
    text-align:right;
    line-height: 79.5px;
    font-size: 60px;
}
.left_box{
    width: 20%;
    position: absolute;
    top: 13%;
    padding-left: 25px;
}
.li_title_name{
    color: #0ca1e5;
    font-size: 20px;
}
.li_title_num{
    color: #fffeff;
    font-size: 36px;
}
.left_box li{
    list-style: none;
    margin-bottom: 10px;
}
.canvas_box{
    width:64%;
    min-height:520px;
    margin-left:18%;
    margin-top:0px;
    position: relative;
}
.canvas_tip{
    width:100%;
    height:5%;
    padding-left: 10%;
}
.canvas_tip p{
    float: left;
    width:140px;
}
.red_logo{
    width:15px;
    height:15px;
    display: inline-block;
    border-radius: 15px;
    background-color: red;
    margin-right: 5px;
}
.green_logo{
    width:15px;
    height:15px;
    display: inline-block;
    border-radius: 15px;
    background-color: green;
    margin-right: 5px;
}
.canvas_tip p span{
    color: white;
}
.mengc{
    width: 25%;
    height: 135px;
    position: absolute;
    top: 56px;
    left: 0;
    z-index: 299;
    display: none;
}
.pie{
    width:400px;
    height:140px;
    bottom: 20px;
    left:20px;
}
#pie1{
    float:left;
}
#pie2{
    width:200px;
    height:140px;
    bottom: 20px;
    left:20px;
    float: left;
}
.right_box{
    idth: 100px;
    float: left;
    padding-top: 35px;
    margin-left: 10px;
}
.pointer{
    width:10px;
    height:10px;
    border-radius: 10px;
    display: inline-block;
    background-color: #f17d4e;
}
.pointer2{
    width:10px;
    height:10px;
    border-radius: 10px;
    display: inline-block;
    background-color: #87cefa;
}
.pointer3{
    width:10px;
    height:10px;
    border-radius: 10px;
    display: inline-block;
    background-color: #60cd35;
}
.bank_name{
    color:#FFF;
    font-size: 12px;
}
.echarts-tooltip{
    color: black !important;
    background-color: rgba(255, 255, 255 ,1) !important;

}
.nodata{
    color: #dcdfe6 !important;
}
.all_province{
    cursor: pointer;
}